<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <title>User</title>
</head>
<body>
<div class="container">
    <div class="container">
        <form class="form-register"  th:object="${user}" >
            <h2 class="form-register-heading">User</h2>
            <p>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.status}"></td>
        </form>
    </div>
    <form action="/chat" method="POST">
        <button type="submit">
            Chat
        </button>
    </form>
    <form action="/auth/logout" method="POST">
        <button type="submit">
            Logout
        </button>
    </form>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</html>